$head: 60px;
$button: 30px;
$li:50px;
@media screen and (min-width: 750px) {
    body {
        font-size: 19px
    }
    body .menu {
        width: 35%;
    }

}

html {
    font-size: 100px;
    height: 100%;
}

body {
    font-size: 16px;
    margin: 0;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.header {
    background-color: #1e1e1e;
    height: $head;
    position: relative
}


.header button {
    background-image: url(../img/category.svg);
    background-size: contain;
    display: inline-block;
    position: absolute;
    left: 10px;
    width: $button;
    height: $button;
    top: ($head - $button)/2;
    border: none;
    padding: 0;
    background-color: transparent;
    outline: none;
    font-size: 1.2em;
}

.header .back {
    background-image: url(../img/back.svg);
}

.menu {
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: $head;
    color: #eee;
    bottom: 0;
    transition: all .3s ease-in-out;
    z-index: 1;
    width: 100%;
    transform: translateX(-100%);
}

.menu .search {
    width: 100%;
    position: relative;
    height: $li;
}

.menu .search input {
    background-color: #efefef;
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 0 10px;
    font-size: 1em;
    border-radius: unset;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.8);
}
.menu .search::after {
    content: "";
    width: 30px;
    height: 30px;
    position: absolute;
    background-image: url(../img/search.svg);
    background-size: contain;
    right: 10px;
    top: 10px; }

.menu .search button {
    display: inline-block;
    width: 20%;
    position: absolute;
    height: 100%;
    outline: none;
    text-align: center;
    text-decoration: none;
    color: #039be5;
    border: none;
    padding: 0;
    top: 0;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    font-size: 1em;

}

.menu ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%;
    overflow-y: scroll;
    height: 100%;
}

.menu ul li {
    padding: 0 10px;
    line-height: $li;
    height: $li;
}

.map {
    height: 100%;
    background: antiquewhite
}